:root {
    --clr1: #ff7f00;
    --clr2: #e3e3e3;
    --clr3: #ffffff;
    --clr4: #58c93a;
    --clr5: #b4ad9e;
    --clr6: #c2c2c2;

    --header-h: 135px;

    --s: 600px;
    --m: 890px;
    --w: 1060px; 
}