/* MOBILE ONLY */
@media (max-width: 680px) {

    .header-content .main-nav {
        position: absolute;
        top: 65px;
        padding: 0;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        max-height: 0;
        transform-origin: 0px;
        overflow: hidden;
        align-items: flex-end;
        transition: .6s;
    }

    .header-content .main-nav > * {
        background-color: var(--clr1);
        flex-basis: 100%;
        height: 50px;
        box-shadow: 0 0 0 black;
    }

    .header-content .main-nav {
        margin: 0;
        width: 100%;
    }

    .nav-btns {
        display: flex;
        align-items: center;
        align-content: center;
    }

    .nav-btns a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .gallery-imgs {
        grid-template-columns: repeat(2, minmax(130px , 1fr));
    }

    body.menu-open .main-header .menu-toggle span {
        display: none;
    }

    body.menu-open .main-header button:after {
        content: 'X';
        font-weight: 900;
    }

    .main-header .menu-toggle {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: var(--clr3);
        font-size: 2rem;
    }
    
    .main-header .menu-toggle:hover {
        cursor: pointer;
        font-weight: 900;
    }

    body.menu-open .main-nav {
        box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
        max-height: 500px;
        width: 100vw;
    }
    
    .header-content {
        height: 4em;
    }

    .main-gallery .search-bar {
        flex-direction: column;
    }

    .main-container .meme-edit {
        flex-direction: column;
    }
    
    .canvas-container {
        flex-basis: 100%;
        margin: 20px 5px;
        height: 100vw;
    }
    
    .my-canvas {
        width: 100%;
    }

    .canvas-container {
        max-height: 100vw;
    }
    
    .meme-controls {
        flex-basis: 100%;
    }
    .meme-controls .actions {
        padding: 0 3%;
    }

    .main-container {
        padding: 0 5px;
    }
    
    .modal {
        width: 100%;
        min-height: 100%;
    }
    .main-gallery .search-bar {
        margin-top: 20px;
    }

    .btn-flexible {
        align-self: center;
    }
}

/* SMALL */
@media (min-width: 680px) {
    .main-layout {
        max-width: 640px;
    }
    .main-container .meme-edit {
        flex-direction: column;
    }
    
    .canvas-container {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .meme-controls {
        width: 100%;
    }

    .menu-toggle {
        display: none;
        margin-inline-end: 0;
    }

    .search-bar {
        flex-direction: column;
    }

    .key-words {
        max-width: 100%;
    }

    .btn-flexible {
        align-self: center;
    }
}

/* MEDIUM */
@media (min-width: 940px) {
    .main-layout {
        max-width: 1100px;
    }

    .main-container .meme-edit {
        flex-direction: row;
    }

    .canvas-container {
        width: 50%;
    }
    
    .meme-controls {
        width: 50%;
    }

    .meme-edit {
        min-height: 80%;
    }

    .search-bar {
        flex-direction: row;
    }

    .key-words {
        max-width: 40%;
    }

    .btn-flexible {
        align-self: flex-start;
        min-width: 155px;
    }
    
}

/* LARGE */
@media (min-width: 1110px) {
    .main-layout {
        max-width: 1200px;
    }
}
