.main-footer {
    flex-direction: column;
    align-items: center;
    background-color: var(--clr1);
    border-top: 1px solid #e1e0e0;
}

.main-footer .main-logo {
    margin: 4.3rem  0 .5rem;
}

.main-footer small {
    font-family: Montserrat-Regular;
    color: var(--clr3);
    font-size: 1rem;
    /* letter-spacing: .6px; */
    margin: 0 0 4.3rem;
}
/* .main-footer small span {
    font-family: Lato-Bold;
    color: #939292;
} */
