.main-header {
    position: relative;
    min-height: 60px;
    color: var(--clr3);
    background-color: var(--clr1);
    padding: 0 1rem;
}

.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    box-shadow: inset -1px 0 0 var(--clr5);
    text-align: center;
    transition: .3s;
}
.nav-btns:hover {
    cursor: pointer;
}

.main-header .main-nav .nav-btns a:hover {
    color: var(--clr4);
    box-shadow: inset -1px 0 0 #1d1d1d, inset 0px -2px var(--clr4);
}
.main-header .main-nav a{
    padding: .5rem 0rem;
    color: var(--clr3);
    flex-basis: 100%;
    transition: .3s;
}

.main-logo:hover {
    cursor: pointer;
}

/* .menu-toggle.clicked {
    border: none;
} */
