.gallery-imgs {
    grid-template-columns: repeat(auto-fill, minmax(150px , 1fr));
    /* display: none; */
}

.gallery-imgs .image:hover {
    cursor: pointer;
}

/* .image {
    max-width: 300px;
} */