.gallery-imgs {
    grid-template-columns: repeat(auto-fill, minmax(150px , 1fr));
    /* display: none; */
}

.gallery-imgs .image:hover {
    cursor: pointer;
}


.main-gallery .search-bar {
    min-height: 3em;
    margin-bottom: 20px;
}

.main-gallery .btn-gallery {
    font-family: Montserrat-Medium;
    border-radius: 15px;
    padding: .3em;
    font-size: 1.5em;
    min-width: 55px;
    min-height: 55px;
    background-color: var(--clr1);
    color: var(--clr3);
}

.main-gallery .btn-gallery:hover {
    cursor: pointer;
}

.search-bar input {
    min-height: 55px;
    width: 70%;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5em;
    font-family: Montserrat-Thin;
    width: 300px;
    margin-bottom: 10px;
  }
