button {
    /* background-color: var(--clr3);
    border-radius: 15%; */
    border: none;
    /* padding: 10px; */
}

.meme-controls .btn {
    background-color: var(--clr3);
    border-radius: 15px;

    font-size: 2em;
    min-width: 55px;
    min-height: 55px;
}
.meme-controls .btn:hover {
    cursor: pointer;
}

.icon img {
    height: 1em;
}
.icon.txt img {
    height: 1.5em;
}