button {
    /* background-color: var(--clr3);
    border-radius: 15%; */
    border: none;
    /* padding: 10px; */
}

.meme-controls .btn {
    background-color: var(--clr3);
    border-radius: 15px;
    /* padding: .3em; */
    font-size: 1.5em;
    min-width: 55px;
    min-height: 55px;
}

.meme-controls .txt-btn {
    font-family: Montserrat-Medium; 
    background-color: var(--clr1);
    color: var(--clr3);
    padding: .5em;
}
.meme-controls .txt-btn:hover {
    background-color: var(--clr6);
}

.meme-controls .btn:hover {
    background-color: var(--clr7);
}

.meme-controls .btn:hover {
    cursor: pointer;
}

.icon img {
    height: 1em;
}
.icon.txt img {
    height: 1.5em;
}